<div class="fixed w-16 h-16 text-white rounded-full shadow-lg cursor-pointer bg-slate-800 bottom-5 right-5 md:bottom-10 md:right-10 grid place-content-center shadow-indigo-900 hover:bg-slate-700 transition-colors" (click)="toggleDialog()">
  <button type="button" class="text-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
  </button>
</div>


<div class="overlay overlay--open" [class.overlay--close]="closingAnimation" *ngIf="showDialog">
  <section class="py-5 px-10 w-10/12 md:w-1/4 rounded-lg shadow-2xl bg-[linear-gradient(90deg,hsla(260,100%,9%,1),hsla(261,73%,20%,1),_hsla(260,100%,9%,1)_100%)] shadow-indigo-900 relative">
    <div class="text-white font-semibold text-3xl">Select difficult</div>
    <ul class="py-5 flex flex-col gap-3">
      <li *ngFor="let difficult of difficulties" class="flex items-center gap-2">
        <input type="radio" name="difficult" [value]="difficult.value" [checked]="difficult.value === selectedDifficult" (change)="onDifficultChange(difficult.value)" />
        <label class="text-white capitalize text-xl font-medium">{{ difficult.label }}</label>
      </li>
    </ul>
    <button type="button" class="text-gray-400 font-medium text-lg hover:text-gray-200 transition-colors absolute top-7 right-5" (click)="toggleDialog()">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
    </button>
  </section>
</div>
