<div class="overlay overlay--open" [class.overlay--close]="isSubmitted" *ngIf="showDialog">
  <section class="p-5 rounded-lg shadow-2xl bg-[linear-gradient(90deg,hsla(260,100%,9%,1),hsla(261,73%,20%,1),_hsla(260,100%,9%,1)_100%)] shadow-indigo-900">
    <form [formGroup]="form" (submit)="onSubmit()" class="flex flex-col gap-2">
      <label class="font-semibold text-white">Enter your name</label>
      <input formControlName="name" class="px-3 py-1 font-medium rounded-md outline-indigo-600 outline-offset-1" />
      <button type="submit" class="px-3 py-2 mt-2 font-medium text-white rounded-lg bg-sky-500 hover:bg-sky-600 disabled:bg-gray-500 transition-colors" [disabled]="form.invalid">Submit</button>
    </form>
  </section>
</div>
